[submodule "frontend/safelink"]
	path = frontend/safelink
	url = https://github.com/parinaB/safelink.git
[submodule "pwa/safelink-pwa-"]
	path = pwa/safelink-pwa-
	url = https://github.com/Anvesha-Khandelwal/safelink-pwa-.git
